<!-- <h1>Welcome to 
    <div [ngStyle]="{'color': informations.availableInformations > 20 ? 'green': 'red'}">
        {{informationHeader}}
    </div>
</h1> -->

<basic-header #headerFromSomewhere>

</basic-header>

<!-- -->
<div *ngIf="storedInformationFromChild">
    {{storedInformationFromChild | json}}
</div>

<!-- data binding through html attributes.. note only valid html attributes are accepted-->
<div [hidden]="hideRooms">
    Number of Informations:
    <div [innerText]="numberOfInformations"></div>
    <!-- {{informationList}} -->
</div>
<basic-informations-list [informations]="informationList"
[title] = "title"
(selectedInformation)="selectInformation($event)"
></basic-informations-list>

<div>
    <button (click)="addInformation()">
        Add Room
    </button>
</div>


<!-- Optional chaining -->
<!-- {{informations.availableInformations ?? 'No information available'}} -->
<!-- directives -->
<div *ngIf="informations.availableInformations > 0">
    Display this block if total information exceeds 10
</div>

<button (click)="toggle()">Toggle Something</button>

<!--document.getElementById('numberOfInformation') = numberOfInformation -->